.title-body {
  box-shadow: 10px 10px 30px;
  height: 300px;
  background-color: blue;
  /* padding: 20px; */
}
.title-middle {
  display: flex;
  padding: 0 30px;
  justify-content: center;
  column-gap: 30px;
  display: flex;
}
.title-right {
  max-width: 450px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
  height: 230px;
  background-color: aqua;
  margin-top: 15px;
}
.title-left {
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
  height: 230px;
  background-color: aqua;
  margin-top: 15px;
}
.title-right {
  display: flex;
  column-gap: 5px;
}

.box-right {
  max-width: 300px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 200px;
  background-color: azure;
}
.box-left {
  max-width: 100px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 200px;
  background-color: azure;
}
.title-left {
  display: flex;
  column-gap: 5px;
}
.box1-right {
  max-width: 500px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 200px;
  background-color: azure;
}
.box1-left {
  max-width: 150px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 200px;
  background-color: azure;
}
.box1-right {
  display: flex;
  column-gap: 5px;
}
.box2-right {
  max-width: 300px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 175px;
  background-color: #1abc9c;
}
.box2-left {
  max-width: 150px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 175px;
  background-color: #1abc9c;
}
.box-middle {
  max-width: 125px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 175px;
  background-color: #1abc9c;
}
.box2-right {
  display: flex;
  column-gap: 5px;
}
.box3-right {
  max-width: 140px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 150px;
  background-color: #e67e22;
}
.box3-left {
  max-width: 70px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  height: 150px;
  background-color: #e67e22;
}
